#   Bash
alias copy_clipboard='tr -d '\''\n'\'' | xclip -sel clip'
alias ngrok='ngrok http 80'
alias pk='pkill -9 -f'
alias psg='ps -aux | grep'
alias source_venv='source ~/Virtual_envs/.venv_tests/bin/activate; ipython'
alias source_zsh='source ~/.zshrc'
alias wt='watch -n 0.1'

#   Git
alias gdd='git difftool -d'
alias gddd='git difftool -d dev'
alias gmd='git merge dev'
alias gmdd='gl && gco dev && gl && gco - && git merge dev && gsu --remote'
alias gamnd='git add -A && git commit --amend'
