alias psg='ps -aux | grep'
alias wt='watch -n 0.1'
alias pk='pkill -9 -f'
alias source_venv='source ~/Virtual_envs/.venv_tests/bin/activate'
alias ngrok='ngrok http 80'
alias copy_clipboard='tr -d '\''\n'\'' | xclip -sel clip'
alias gdd='git difftool -d'
